[submodule "RPi-kernel-src-at-default"]
	path = linux
	url = https://github.com/raspberrypi/linux.git
[submodule "RPi-toolchain"]
	path = tools
	url = https://github.com/raspberrypi/tools.git
[submodule "Aircrack-RTL8188EUS-src"]
	path = rtl8188eus
	url = https://github.com/aircrack-ng/rtl8188eus.git