[submodule "Raspberry Pi kernel src (default)"]
	path = linux
	url = https://github.com/raspberrypi/linux.git
[submodule "Raspberry Pi build tools"]
	path = tools
	url = https://github.com/raspberrypi/tools.git
[submodule "Aircrack-ng's RTL8188EUS kernel module src"]
	path = rtl8188eus
	url = https://github.com/aircrack-ng/rtl8188eus.git